<section class="portfolio-section">
  <h2 class="portfolio-title">Portfolio</h2>
  <p class="portfolio-subtitle">Here are some of my recent projects:</p>

  <div class="portfolio-carousel">
    <!-- Slide 1 -->
    <div class="portfolio-card">
      <img src="/assets/windowcleaning.png" alt="Melanoma Detection AI" />
      <div class="portfolio-info">
        <h3>Window Cleaning Services</h3>
        <p>Built a website for a window cleanig company, to display services and make it easier for customers to book those services online</p>
        <a href="https://windowcleaningproj.netlify.app/" target="_blank" class="btn">View Project</a>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="portfolio-card">
      <img src="/assets/pricetracker.png" alt="Python Automation" />
      <div class="portfolio-info">
        <h3>E-Commerce Price Tracker Python Automation</h3>
        <p>Python Automation that quickly returns the current price of an item on an e-commerce website by url.</p>
        <a href="https://github.com/dpearyer/Price-Tracker" target="_blank" class="btn">View Project</a>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="portfolio-card">
      <img src="/assets/freshdeskapi.png" alt="Freshdesk & DevOps Integration" />
      <div class="portfolio-info">
        <h3>DevOps + Freshdesk Integration</h3>
        <p>Automated support workflows by linking Freshdesk tickets to Azure DevOps items using custom APIs and Power Automate flows.</p>
        <a href="#" target="_blank" class="btn">View Project</a>
      </div>
    </div>
  </div>
</section>
