<section class="services-section">
  <h2 class="services-title">Services</h2>
  <div class="services-grid">
    <div class="service-item">
      <img src="/assets/websiteicon.png" alt="Web App Development" class="service-icon">
      <p>Web App Development (Angular, React, Flutter)</p>
    </div>
    <div class="service-item">
      <img src="/assets/testing.png" alt="Automation Tools" class="service-icon">
      <p>Automation (Power Automate, Python scripts)</p>
    </div>
    <div class="service-item">
      <img src="/assets/integrationapiicon.png" alt="Database and API Integration" class="service-icon">
      <p>Database Integration & API Work</p>
    </div>
  </div>
</section>
